.booking-card {
    background:white;
    border:1px solid #d1d5db;
    border-radius:18px;
    padding:25px;
    margin-bottom:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.booking-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-id {
    display: flex;
    align-items: center;
    gap: 15px;
}

.flight-icon {
    width: 45px;
    height: 45px;
    background: #0B2D72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flight-icon .material-symbols-outlined {
    color: white;
    font-size: 24px;
}

.status {
    color: #f97316;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.id {
    color: #374151;
    font-size: 15px;
}

.booking-date {
    text-align: right;
}

.booking-date h3 {
    color: #0B2D72;
    margin-bottom: 5px;
}

.booking-date p {
    color: #6b7280;
    font-size: 14px;
}

.booking-card hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #e5e7eb;
}

.flight-route {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location h1 {
    font-size: 52px;
    color: #0B2D72;
    margin: 5px 0;
}

.city {
    color: #0ea5e9;
    font-size: 14px;
    letter-spacing: 1px;
}

.location p {
    color: #374151;
}

.flight-center {
    text-align: center;
    flex: 1;
}

.flight-center p {
    color: #6b7280;
    font-size: 14px;
}

.flight-line {
    position: relative;
    margin: 15px auto;
    width: 280px;
    border-top: 2px solid #bfdbfe;
}

.flight-line .material-symbols-outlined {
    position: absolute;
    left: 50%;
    top: -14px;
    transform: translateX(-50%);
    background: white;
    color: #0B2D72;
    padding: 2px;
}

.booking-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-info {
    display: flex;
    gap: 25px;
    color: #374151;
    font-size: 15px;
}

.booking-buttons {
    display: flex;
    gap: 15px;
}

.seat-btn {
    background:#f97316;
    color:white;
    border:none;
    padding:14px 22px;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.2s;
}

.seat-btn:hover {
    background: #ea580c;
}

.ticket-btn {
    background: white;
    color: #0B2D72;
    border: 1px solid #0B2D72;
    padding:14px 22px;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.2s;
}

.ticket-btn:hover {
    background: #0B2D72;
    color: white;
}