*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fa;
}

.booking-page{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.booking-container{
    flex:1;
    width:100%;
    padding:40px 60px;
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

.booking-left{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.stepper{
    display:flex;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;
}

.active-step,
.current-step,
.inactive-step{
    display:flex;
    align-items:center;
    gap:10px;
}

.active-step span,
.current-step span,
.inactive-step span{
    width:28px;
    height:28px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:13px;
    font-weight:bold;
}

.active-step span{
    background:#16a34a;
    color:white;
}

.current-step span{
    border:2px solid #0f172a;
    color:#0f172a;
}

.inactive-step span{
    border:2px solid #cbd5e1;
    color:#94a3b8;
}

.active-step p,
.current-step p,
.inactive-step p{
    font-size:12px;
    font-weight:700;
}

.line{
    width:40px;
    height:2px;
    background:#cbd5e1;
}

.form-card{
    background:white;
    padding:35px;
    border-radius:18px;
    border:1px solid #e5e7eb;
}

.form-card h2{
    margin-bottom:30px;
    color:#0f172a;
    font-size:32px;
}

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
}

.form-grid div{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.form-grid label{
    font-size:13px;
    font-weight:700;
    color:#475569;
}

.form-grid input{
    padding:16px;
    border:1px solid #d1d5db;
    border-radius:10px;
    outline:none;
    font-size:15px;
}

.form-grid input:focus{
    border-color:#ff7a00;
}

.booking-right{
    position:sticky;
    top:100px;
    height:fit-content;
}

.summary-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    border:1px solid #e5e7eb;
}

.summary-header{
    background:#0f172a;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.summary-header span{
    background:#ff7a00;
    padding:6px 10px;
    border-radius:6px;
    font-size:12px;
}

.summary-content{
    padding:25px;
}

.airline{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}

.airline img{
    width:50px;
    height:50px;
    border-radius:10px;
}

.airline h4{
    color:#0f172a;
}

.airline p{
    color:#666;
    font-size:14px;
}

.route{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.route h1{
    font-size:42px;
    color:#0f172a;
}

.route p{
    color:#666;
}

.route-line{
    flex:1;
    padding:0 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
}

.route-line div{
    width:100%;
    height:2px;
    background:#cbd5e1;
}

.route-line span{
    font-size:13px;
    color:#666;
}

.route-line p{
    color:#0ea5e9;
    font-size:12px;
    font-weight:700;
}

.price{
    display:flex;
    flex-direction:column;
    gap:15px;
    border-top:1px solid #e5e7eb;
    border-bottom:1px solid #e5e7eb;
    padding:20px 0;
}

.price div{
    display:flex;
    justify-content:space-between;
}

.total{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:20px;
}

.total h2{
    color:#ff7a00;
    font-size:34px;
}

.seat-btn{
    width:100%;
    margin-top:20px;
    border:none;
    background:#ff7a00;
    color:white;
    padding:18px;
    border-radius:14px;
    font-size:17px;
    font-weight:700;
    cursor:pointer;
    transition:0.3s;
}

.seat-btn:hover{
    background:#e56d00;
}

@media(max-width:1000px){

    .booking-container{
        grid-template-columns:1fr;
    }

    .form-grid{
        grid-template-columns:1fr;
    }

    .booking-right{
        position:static;
    }
}